altgraph==0.17.4
babel==2.17.0
docxcompose==1.4.0
docxtpl==0.20.1
et_xmlfile==2.0.0
importlib_metadata==8.5.0
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==2.1.5
openpyxl==3.1.5
packaging==25.0
pefile==2023.2.7
pillow==10.4.0
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.8
python-docx==1.1.2
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
six==1.17.0
typing_extensions==4.13.2
zipp==3.20.2
